<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur mollitia totam quisquam nulla quis nesciunt similique sed blanditiis consequatur perspiciatis cupiditate, voluptates, voluptate facere corrupti harum praesentium eum. Dicta non molestias amet facere, quam iste assumenda a inventore repudiandae commodi itaque, suscipit dolor consequuntur! Est ad excepturi, quisquam quibusdam reprehenderit, temporibus atque perspiciatis, rerum voluptas nobis eligendi autem recusandae repellat ex dicta voluptate. Aliquam maxime reiciendis laborum debitis odit veniam nobis minima, commodi veritatis nesciunt natus pariatur ex provident, ullam iusto ipsum, corporis quidem repellendus quis voluptatibus velit fugiat. Rem nisi, voluptates temporibus labore optio ea excepturi est totam ipsum, voluptas sapiente facere magnam sed cupiditate deserunt hic explicabo consequatur accusamus reiciendis minima vel rerum. Excepturi libero ducimus repellat explicabo ipsa architecto velit incidunt ipsum dolorem nisi voluptatum molestiae commodi impedit illum rerum doloribus quo amet minima vitae dolorum ad quisquam, cum quibusdam? Exercitationem, accusantium! Natus eius voluptatum voluptate perferendis.</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>